<footer>
  <div class="container">
    <p>© 2017 LearnRate. All Rights Reserved.</p>
    <ul class="list-inline">

      <li>
        <a href="https://github.com/mikemerin/LearnRate/graphs/contributors" target="_blank">MADE WITH <span class='glyphicon glyphicon-heart'></span> BY FLATIRON SCHOOL STUDENTS</a>

      </li>
    </ul>
  </div>
</footer>
