<footer>
  <div class="container">
    <p>© 2017 LearnRate. All Rights Reserved.</p>
    <ul class="list-inline">
      <li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Privacy</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Terms</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">FAQ</a>
      </li>
    </ul>
  </div>
</footer>
