<header>


  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">

          <div class="header-content-inner">


              <%= yield :index %>
              <%= yield :login %>
              <%= yield :signup %>

          </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">

                  <img src="/assets/new_age/demo-screen-1.jpg" class="img-responsive" alt="">
              </div>
              <div class="button">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
