<%= content_for :index do %>

<p>
<a href="/">
<img border="0" alt="LearnRate" src="/assets/new_age/logo.png">
</a>
</p>
<p>
<h1>Take the mystery out of labs with crowd sourced ratings and reviews.</h1>
<a href="/login" class="btn btn-outline btn-xl">Log In</a>
<a href="/signup" class="btn btn-outline btn-xl">Sign Up</a>

<% end %>

<%= render "header" %>

<%= render "footer" %>
