<%= content_for :index do %>

<h1>LearnRate takes the mystery out of labs by adding crowd sourced ratings and reviews.</h1>
<a href="/login" class="btn btn-outline btn-xl">Log In</a>
<a href="/signup" class="btn btn-outline btn-xl">Sign Up</a>

<% end %>

<%= render "header" %>

<%= render "footer" %>
