<style>
  body {
    background-image: url("/assets/new_age/colorbg.jpg");
  }
</style>

<div class="jumbotron">
  <h1>Hey there <%= @current_user.first_name %>!</h1>
  <h3>I know what you're thinking....so how are labs rated?</h3>

  <div class="panel panel-default">
    <div class="panel-body">
      <strong><h4>How to get started:<h4></strong>


  </div>

  <p>
    <a class="btn btn-primary btn-lg">Placeholder button!</a>
  </p>
</div>
