<style>
  body {background-image: url("https://flatironschool.imgix.net/v2-hero-images/hero-home.jpg");}

</style>





<div class="jumbotron">
  <h1>User Stats DashBoard</h1>
  <p>Going to add some sort of information here, hardest lesson etc etc </p>
  <p><a class="btn btn-primary btn-lg">Placeholder button!</a></p>
</div>
