<style>
  body {
    background-image: url("/assets/new_age/colorbg.jpg");
  }
</style>

<div class="jumbotron">
  <h1>Hey there, <%= @current_user.first_name %>!</h1>
  <h3>I know what you're thinking...how do I review a lab?</h3>

  <div class="panel panel-default">
    <div class="panel-body">

      <h4><h3>Frustration:</h3> Did you drop the F-Bomb? Were you tempted to delete tests in the spec file?<h4>
      <h4><h3>Quality:</h3> Did you find bugs? Were they easy to squash?<h4>
      <h4><h3>Helpfulness:</h3> Did you learn new concepts that could be applied elsewhere?<h4>
      <h4><h3>Time Taken:</h3> How long did it take to get the green lights? Have you grown a beard?<h4>
      <br></br>
        <p>
          <a href="reviews/new" class="btn btn-primary btn-lg">Make a Review</a>
        </p>
  </div>


</div>
